# Lines starting with '#' are considered comments.

bower_components/**
node_modules/**

# mock
components/cards/**

sqlUpdate/**

# файлы выгрузки
files/**

# релиз файлы
release/**
tmp/**

# config
config/consts.php
config/dbParams.php

# sass файлы
.sass-cache/**
views/css/*.css
views/css/*.map
css/*.map
distrib/**
old/**
