# Lines starting with '#' are considered comments.

bower_components/**
node_modules/**

# mock
components/cards/**

# релиз файлы
release/**
tmp/**

# sass файлы
.sass-cache/**
views/css/*.css
views/css/*.map
css/*.map
distrib/**
old/**
