$backgroundLogin: #47A8BD;

$firstFirmBack: #113761;
$secondFirmBack: #305e8c;
$thirdFirmBack: #b2b2b2;
$fourFirmBack: #B20039;
$firmFrontColor: #fff;
$buttonColor: #b2b2b2;
$errorColor: red;

// $background: #CFE8F9;
$background: lighten($secondFirmBack, 60%);