@import '_consts.scss';

body {
    background: url(../img/back3.jpg);
    background-size: cover;
    font-family: arial;
}

.form-signin {
	margin: 50px auto 0;
	max-width: 300px;
	background-color: darken($backgroundLogin, 10%);
	padding: 30px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px rgba(0,0,0,.1)
}

.form-signin .btn-primary {
	background-color: darken($backgroundLogin, 20%);
	border-color: darken($backgroundLogin, 30%);
}

.form-signin .btn-primary:hover {
	background-color: darken($backgroundLogin, 30%);
	border-color: darken($backgroundLogin, 40%);
}

.form-control:focus {
    border-color: darken($backgroundLogin, 10%);
}