@import '_consts.scss';

body {
    font-family: arial;
    background-color: $background;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.container-fluid {
    padding: 0;
}

.container-fluid .row{
    margin: 0;
}

.logos {
    color: $firmFrontColor;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid $firstFirmBack;
    padding-bottom: 15px;
    margin: 0;
}

.logos .lines {
    padding: 10px 0;
}

.logos .line1 {
    background-color: $firstFirmBack;
    font-size: 15px;
}

.logos .line2 {
    background-color: $secondFirmBack;
    font-size: 20px;
    padding: 10px 0;
    font-weight: 700;
}

.logos img {
    width: 100px;
    margin: 15px;
    position: relative;
    top: 5px;
}

.logos .title {
    color: $secondFirmBack;
}

.logos .title  h1 {
    color: $secondFirmBack;
    font-size: 50px;
    font-weight: 600;
}

.logos .title  h2 {
    color: $firstFirmBack;
    font-size: 30px;
}

.type {
    padding: 20px;
    vertical-align: middle;
    text-align: center;
}

.type h1 {
    color: $secondFirmBack;
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.tarif {
    font-size: 30px;
    padding: 10px 0 0 0;
    text-align: center;
}

.tarif table {
    margin: 10px auto 0;
    width: 600px;
    font-size: 18px;
}

.tarif table thead{
    font-weight: 700;
    text-transform: uppercase;
}

.tarif table td{
    padding: 3px !important;
}

.accept {
    text-align: center;
    text-transform: uppercase;
    font-size: 120px;
    font-weight: 900;
    width: 350px;
    border: 3px solid $secondFirmBack; 
    border-radius: 5px;
    margin: 40px auto;
    /*padding-bottom: 10px;*/
    color: $secondFirmBack;
}

.accept h3 {
    font-size: 40px;
    padding: 0;
    margin: 5px;    
}

.balance h1{
    color: $secondFirmBack;
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.balance table {
    margin: 30px auto 160px;
    width: 600px;
    font-size: 30px;
    text-align: center;
}

.balance table thead{
    font-weight: 700;
    text-transform: uppercase;
}

.line {
    margin-top: 80px
}
.row.time {
    // margin: 20px;
    font-size: 30px;
    color: $secondFirmBack;
}

.noDisplay {
    display: none;
}

#main a.btn {
    width: 62%;
    height: 160px;
    line-height: 160px;
    text-align: center;
    display: block;
    margin: 20px auto;
    background-color: $buttonColor;
    border: 1 solid $firstFirmBack;
    color: $firstFirmBack;
    font-size: 60px;
    text-transform: uppercase;
}

#main a.btn.small {
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    font-size: 16px;
    display: block-inline;
    text-align: center;
    text-transform: uppercase;
    margin: 2px;
    padding: 2px;
}

#main .title  h3 {
    color: $secondFirmBack;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}

#main .title  h2 {
    color: $secondFirmBack;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0px;
}

#main .bigDigit {
    // font-size: 30px;
    font-weight: 800;
}

#main .title  h1 {
    color: $secondFirmBack;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

#main .error  h1 {
    color: $errorColor;
    text-transform: uppercase;
    margin-top: 90px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

#main .error  h4 {
    color: $errorColor;
    text-transform: uppercase;
    margin-top: 0px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

#main .error h2 {
    color: $errorColor;
    text-transform: uppercase;
    margin-bottom: 26px;
    text-align: center;

    font-size: 35px;
    font-weight: 600;
}
#main .error  p {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

#main .serviceListArea {
    overflow: auto;
    height: 610px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: lighten($buttonColor, 50%);
    border-left: 1px solid $buttonColor;
}

::-webkit-scrollbar-thumb {
    background-color: darken($buttonColor, 30%);
}

#main .table {
    font-size: 22px;
}

#main .table th {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

#main .table tbody tr td {
    vertical-align: middle;
}

.tab-pane {
    padding: 15px;
}

#getPrepaid {
    margin: 0 0 0 10px;
}

.table > thead:first-child > tr:first-child > th {
    text-align: center;
}

div.imgContainer {
    text-align: center;
}

button.addServiceBtn {
    font-size: 30px;
    margin-right: 15px;
}

button.debtsButton {
    background-color: red;
    border: 1px solid red;
    margin-left: 15px;
    font-size: 30px;
}

button.service {
    width: 48%;
    font-size: 30px;
    min-height: 165px;
    margin-left: 15px;
    margin-bottom: 15px;
    white-space: normal;
}
button.service hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

button.service.control {
    width: 100%;
    min-height: 0;
    background-color: $buttonColor;
    color: $firstFirmBack;
    font-size: 50px;
    height: 100px;
    padding: 0;
    margin: 0;
}

#main .newServiceListArea {
    overflow: auto;
    height: 550px;
}
#main .controlArea {
    overflow: auto;
    text-align: center;
    height: 150px;
}
.controlArea .controlDiv {
    width: 30%;
    margin: 0 10px;
    display: inline-block;
}

.controlArea button {
    height: 100px;
}

.confirmDelete {
    margin-left: 100px;
}

.color{
    margin-top: 10px;
    position: relative;
    top: -6px;
    height: 28px;
    width: 28px;
}

.color input {
    position: relative;
    top: -3px;
    left: -5px;
}