@import '_consts.scss';

body {
    cursor: none !important;
}

.btn {
    cursor: none;
}

.commentItem {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: -10px;	
    max-height: 40px;
}