@import '_consts.scss';

body {
    cursor: none !important;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

}

.btn {
    cursor: none;
}

.commentItem {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: -20px;  
    max-height: 40px;
}

.accept {
    text-align: center;
    text-transform: uppercase;
    font-size: 120px;
    font-weight: 900;
    width: 350px;
    border: 3px solid $secondFirmBack; 
    border-radius: 5px;
    margin: 15px auto;
    /*padding-bottom: 10px;*/
    color: $secondFirmBack;
}

.accept h3{
    font-size: 40px;
    padding: 0;
    margin: 5px;    
}

.quantity {
    text-align: center;
    text-transform: uppercase;
    font-size: 120px;
    font-weight: 900;
    width: 350px;
    border: 3px solid $secondFirmBack; 
    border-radius: 5px;
    margin: 60px auto;
    /*padding-bottom: 10px;*/
    color: $secondFirmBack;
}

.quantity h3{
    font-size: 40px;
    padding: 0;
    margin: 5px;    
}

.qtyAction {
    width: 230px;
    height: 230px;
    margin-top: 60px;
    text-align: center;
    background-color: $buttonColor;
    color: $firstFirmBack;
}

.qtyAction span {
    font-size: 70px;
    position: absolute;
    top: 138px;
}

.qtyAction.left span {
    left: 121px;
}

.qtyAction.right span {
    left: 130px;
}

#main .controlAreaQty {
    overflow: auto;
    text-align: center;
    height: 170px;
    margin-top: 40px;
    /* line-height: 9; */
}

.acceptArea {
    margin-top: 85px;
    // margin-left: -40px;
}

.controlArea .controlDiv {
    width: 30%;
    margin: 0 10px;
    display: inline-block;
}

#main .controlAreaQty button {
    height: 160px;
}

#main h4 {
    color: $secondFirmBack;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

#basket {
    position: absolute;
    top: 7px;
    left: -48px;
    border: 2px solid #a0a0a0;
    padding: 7px;
    background-color: #F9F9F9;
    font-size: 20px;
    width: 100%;
    border-radius: 9px;
}

#basket ul {
    list-style: none;
    margin-left: -40px;
}

#basket hr {
    color: black;
}

#basket ul li .price {
    text-align: right;
}

#basket ul li .total{
    text-align: right;
    font-weight: 900;
}

#basket ul li .service{
    font-weight: 900;
}

#basket ul li .service {
    margin-bottom: 0;
}

#main a.btn {
    width: 85%;
    height: 160px;
    line-height: 160px;
    text-align: center;
    display: block;
    margin: 20px auto;
    background-color: $secondFirmBack;
    border: 1 solid $secondFirmBack;
    color: $firmFrontColor;
    font-size: 60px;
    text-transform: uppercase;
}

#main a#dailyReport {
    position: absolute;
    width: 100px;
    right: -600px;
    height: 100px;
    top: -15px;
}

#main a#dailyReport span{
    top: -27px;
    left: -2px;
}

#main a.btn.pay {
    height: 110px;
    width: 360px;
    line-height: 100px;
    font-size: 35px;
    margin-top: 108px;
}

#main a.btn.pay.tall {
    line-height: 50px;
}

#main a.btn.small {
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    font-size: 16px;
    display: block-inline;
    text-align: center;
    text-transform: uppercase;
    margin: 2px;
    padding: 2px;
}

#main a.btn.cancel {
    height: 110px;
    width: 360px;
    line-height: 100px;
    font-size: 50px;
    margin-top: 15px;
}

#main .cancelArea a.btn.cancel {
    margin-top: 108px;
}

#main a.btn.cancel .glyphicon {
    top: 8px;
}

#main .qtyArea {
    margin-top: 50px;
}

.basketState {
    position: absolute;
    right: 76px;
    bottom: 16px;
    text-align: center;
    font-size: 35px;
    background: #F9F9F9;
    border: 1px solid black;
    /* width: 200px; */
    padding: 12px 6px 5px 14px;
    border-radius: 8px;
}

.presence-info h2 {
    text-align: center;
    font-size: 60px;
}

.presence-info h3 {
    text-align: center;
    font-size: 45px;
}

.row.control {
    position: absolute;
    bottom: 35px;
    width: 100%;
    left: 0;
}

#main .row .btn.start {
    margin-top: 200px;
    height: 340px;
    line-height: 340px;
    font-size: 110px;
}
